@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

    </div>

@section Section1 {
    <div  class="text-center">Bonjour</div>
    <div  class="text-center">Aujourd'hui : @DateTime.Now.ToString()</div>
}


