@model Emp

@{
    ViewBag.Title = "Create Employee";
}
<form asp-controller ="Test"  asp-action="Create"  method="post">

    <div>
        <label asp-for ="Name">
            </label>
            <input asp-for ="Name"   />
    </div>

    <div>
        <label asp-for ="Email"></label>
            <input asp-for ="Email">
    </div>

    <div>
        <label asp-for ="Department">
            </label>
            <select asp-for ="Department" asp-items="Html.GetEnumSelectList<Dept>()"></select>
    </div>
    <button type ="submit">Create</button>
        </form>
